<div class="container">
  <h1 class="text-center">
    <%= @user.username %>'s profile
  </h1>
  <h6 class="text-center">
    Joined 
    <%= time_ago_in_words(@user.created_at) %>
    ago
  </h6>
  <h4 class="text-center mt-5">
    <%= @user.username %>'s List
  </h6>
    <div class="flickr_pagination">
      <%= will_paginate @products, container: false %>
    </div>
  <div class="row">
    <% @products.each do |product| %>
    <div class="col-md-3">
      <div class="card my-2">
        <%= image_tag(product.img_path, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title">
            <%= product.name %>
          </h5>
          <h6 class="text-muted">
            <%= product.seller %>
          </h6>
          <h6>
            <strong><%= sprintf("$%.2f", product.price ) %></strong>
          </h6>
          <div class="button-container">
            <%=link_to "View", product_path(product), class: "btn btn-outline-success" %>
            <% if logged_in? %>
              <%= link_to "Edit", edit_product_path(product), class: "btn btn-outline-info" %>
              <%= link_to "Delete", product_path(product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
                <% if current_user.products.include?(product) %>
                  <%= link_to "/remove_product/" + product.id.to_s, method: :delete do %>
                    <i class="bi bi-star-fill h3 float-end fav-full"></i>
                  <% end %>
                <% else %>    
                  <%= link_to "/add_product/" + product.id.to_s, method: :patch do %>   
                    <i class="bi bi-star h3 float-end fav-empty"></i>
                  <% end %>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="flickr_pagination mb-3">
    <%= will_paginate @products, container: false %>
  </div>

</div>