<div class="container text-center">

<h2><%= @product.name %></h2>

<p><strong><%= @product.seller %></strong></p>
<%= image_tag(@product.img_path, class: "rounded mx-auto show-image") %>
<p><strong><%= sprintf("$%.2f", @product.price ) %></strong></p>
<% if logged_in? %>
  <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-info" %> | 
  <%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %> |
  <% if current_user.products.include?(@product) %>
    <%= link_to remove_product_path(@product) do %>
      <i class="bi bi-star-fill h3 fav-full"></i>
    <% end %>
  <% else %>    
    <%= link_to add_product_path(@product) do %>    
      <i class="bi bi-star h3 fav-empty"></i>
    <% end %>
  <% end %>
<% else %>
  <%= link_to 'Log in to add to your list!', login_path, class: "btn btn-success" %>
<% end %>
<br>
<p class="mt-5">
  <%= link_to 'Return to Products', products_path %>
</p>

</div>
